{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Fonts -->
	    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
	    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
	    <link rel="icon" href="Favicon.png">

	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		<title>AuctionSystem</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}"/>

	</head>
	<body>

	    <!--Start of Navigation bar-->
	    <nav class="navbar navbar-inverse"><!--navbar-default for white navbar-->
	    	<div class="container-fluid">
	    		<div class="navbar-header">
	    			<a class="navbar-brand" href="{% url 'mainapp:index' %}">OneAuction</a>
	    		</div>
	    		<ul class="nav navbar-nav navbar-right">
	    			<li class="active"><a href="{% url 'mainapp:index' %}">Home</a></li>
	    			{% if user.is_authenticated %}
	    			<li class="dropdown">
	    				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Account<span class="caret"></span></a>
	    				<ul class="dropdown-menu">
	    					<li><a href="{% url 'mainapp:log_out' %}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
          					<li><a href="{% url 'mainapp:update_profile' %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        				</ul>
	    			</li>
	    			<li class="dropdown">
	    				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Quick Links<span class="caret"></span></a>
	    				<ul class="dropdown-menu">
	    					<li><a href="{% url 'mainapp:new_item' %}"><span class="glyphicon glyphicon glyphicon-plus"></span> Post Item</a></li>
	    					<li><a href="{% url 'mainapp:closedauction' %}"><span class="glyphicon glyphicon-folder-close"></span> Closed Auctions</a></li>
	    					<li><a href="{% url 'mainapp:user_biddings' %}"><span class="glyphicon glyphicon-list-alt"></span> My Biddings</a></li>
        				</ul>
	    			</li>
	    			{% else %}
	    			<li class="dropdown">
	    				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Login/Sign Up<span class="caret"></span></a>
	    				<ul class="dropdown-menu">
	    					<li><a href="{% url 'mainapp:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          					<li><a href="{% url 'mainapp:signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        				</ul>
	    			</li>
	    			<li class="dropdown">
	    				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Quick Links<span class="caret"></span></a>
	    				<ul class="dropdown-menu">
	    					<li><a href="{% url 'mainapp:closedauction' %}"><span class="glyphicon glyphicon-folder-close"></span> Closed Auctions</a></li>
        				</ul>
	    			</li>
	    			{% endif %}
    			</ul>
  			</div>
		</nav>
		{% block content %}
        {% endblock %}
	</body>
</html>