{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <form class="form-horizontal" role="form" method="post">
        <!--action="{% url 'mainapp:signup' %}"-->
        {% csrf_token %}
        <h2>Sign Up Form</h2>
        <div class="form-group">
            <label for="fullname" class="col-sm-3 control-label">Full Name</label>
            <div class="col-sm-9">
                <input type="text" id="fullname" name="fullname" placeholder="Full Name" class="form-control" maxlength="30" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="email" id="email" name="email" placeholder="Email" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" id="password" name="password" placeholder="Password" minlength="8" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Repeat Password</label>
            <div class="col-sm-9">
                <input type="password" id="password2" name="password2" placeholder="Password" minlength="8" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
            <div class="col-sm-9">
                <input type="date" id="birthDate" name="birthDate" class="form-control" required/>
            </div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">I accept <a href="#">terms</a>
                    </label>
                </div>
            </div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block" onclick="postTosignup();return false;">Register</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    window.onload = function() {
        /* Code to prevent users from choosing future data-of-birth*/
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("birthDate").setAttribute("max", today);
    }

    function postTosignup() {
        var fullname = document.getElementById("fullname").value;
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var password2 = document.getElementById("password2").value;
        var birthDate = document.getElementById("birthDate").value;

        if (fullname != null && fullname != "", email != null && email != "", password != null && password != "", birthDate != null && birthDate != "", password == password2) {
            $.ajax({
                type: "POST",
                data: {
                    fullname: fullname,
                    email: email,
                    password: password,
                    birthDate: birthDate,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(info) {
                    if (info != "An account already exists for this email address, please try again!") {
                        var url = "{% url 'mainapp:login' %}";
                        document.location.href = url;
                    } else {
                        alert(info);
                    }
                }
            })

        } else {
            alert("Something's wrong, please check your fields again!");
            return false;
        }
    }
</script>
{% endblock %}