{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
    a {
        cursor: pointer;
    }
</style>
<div class="container-fluid" id="bidding activity">
    <h3>Your Recent Bidding Activity</h3>
    <table class="table" id="table">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Your Price</th>
                <th scope="col">Current Price</th>
                <th scope="col">Item Link</th>
                <th scope="col">Item Status</th>
                <th scope="col">Bid Status</th>
            </tr>
        </thead>
        <tbody id="useritems">
        </tbody>
    </table>
</div>
<script type="text/javascript">
    window.onload = function() {
        "{% for item in items %}"
        var itemID = "{{item.id}}"
        var itemName = "{{item.title}}";
        var bidders = "{{item.bidders}}".split(",")
        var currentprice = bidders[bidders.length - 2].split(" ")[1]
        var username = "{{username}}";
        for (var i = bidders.length - 1; i >= 0; --i) {
            if (bidders[i].split(" ")[0] == username) {
                var userprice = bidders[i].split(" ")[1];
                break;
            }
        }
        if ("{{item.status}}" == "True") {
            var status = "Closed"
        } else {
            var status = "Open"
        }
        if (userprice == currentprice && status == "Open") {
            var userstatus = "You are the highest bidder!"
        } else if (userprice == currentprice && status == "Closed") {
            var userstatus = "You've won the bidding!"
        } else if (userprice < currentprice && status == "Open") {
            var userstatus = "You've been out bidded!"
        } else if (userprice < currentprice && status == "Closed") {
            var userstatus = "You've lost the bidded!"
        }
        $("table").find('tbody').append("<tr><td scope='row'>" + itemName + "</td><td>£ " + userprice + "</td><td>£ " + currentprice + "</td><td><a onclick='itemPage(" + itemID + ")'>Click Here</a></td><td>" + status + "</td><td>" + userstatus + "</td></tr>");
        "{% endfor %}"
    }
    var itemPage = function(buttonElement) {
        sessionStorage.setItem("itemid", buttonElement);
        var url = "{% url 'mainapp:itempage' %}"
        document.location.href = url;
    }
</script>
{% endblock %}